# Security stuff
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

<IfModule mod_php5.c>
	php_flag magic_quotes_gpc Off
</IfModule>

<IfModule rewrite_module>
	# Rewrite rules for pretty URL
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	# Do you have a directory that you want listable or to default to the index file?
	# Use the following rule as a template:
	# RewriteRule ^directoryname - [L]
	RewriteRule .* index.php
</IfModule>
